.select {
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--blue-dark);
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--blue-dark);
  font-weight: 600;
}
